<h1>Cart</h1>
<div id="cart">
{{#if courses.length}}
<table>
    <thead>
        <tr>
            <th>Course</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {{#each courses}}
        <tr>
            <td>{{title}}</td>
            <td>{{count}}</td>
            <td class="price">{{price}}</td>
            <td><button class="btn btn-primary remove-item" data-id="{{id}}">Delete</button></td>
        </tr>
    {{/each}}
    </tbody>
</table>
<p>Total: <span id="total" class="price">{{price}}</span></p>

{{else}}
<p>Your courses will be here...</p>
{{/if}}
</div>